<app-header [title]="'08号桌菜品进度'" [right]="'完成'">
</app-header>
<div class="dishProgress">
    <ul>
        <li>
            <div class="dishImg">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505212648826&di=8e8561bd9b086ec0cb55631f075c6aa2&imgtype=0&src=http%3A%2F%2Fwww.dtmkjt.com%2Fuploadfile%2F2016%2F0226%2F20160226091126664.jpg" alt="">
                <i></i>
            </div>
            <div class="dishInfo">
                <h1>红烧鱼</h1>
                <p>79元<span>&nbsp;|&nbsp;&nbsp;1份</span></p>
                <button>制作中</button> <span class="time">已等待：59秒</span>
            </div>
        </li>
        <li>
            <div class="dishImg">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505212648826&di=8e8561bd9b086ec0cb55631f075c6aa2&imgtype=0&src=http%3A%2F%2Fwww.dtmkjt.com%2Fuploadfile%2F2016%2F0226%2F20160226091126664.jpg" alt="">
                <i></i>
            </div>
            <div class="dishInfo">
                <h1>红烧鱼</h1>
                <p>79元<span>&nbsp;|&nbsp;&nbsp;1份</span></p>
                <button>制作中</button> <span class="time">已等待：59秒</span>
            </div>
        </li>
        <li>
            <div class="dishImg">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505212648826&di=8e8561bd9b086ec0cb55631f075c6aa2&imgtype=0&src=http%3A%2F%2Fwww.dtmkjt.com%2Fuploadfile%2F2016%2F0226%2F20160226091126664.jpg" alt="">
                <i></i>
            </div>
            <div class="dishInfo">
                <h1>红烧鱼</h1>
                <p>79元<span>&nbsp;|&nbsp;&nbsp;1份</span></p>
                <button>制作中</button> <span class="time">已等待：59秒</span>
            </div>
        </li>
        <li>
            <div class="dishImg">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505212648826&di=8e8561bd9b086ec0cb55631f075c6aa2&imgtype=0&src=http%3A%2F%2Fwww.dtmkjt.com%2Fuploadfile%2F2016%2F0226%2F20160226091126664.jpg" alt="">
                <i></i>
            </div>
            <div class="dishInfo">
                <h1>红烧鱼</h1>
                <p>79元<span>&nbsp;|&nbsp;&nbsp;1份</span></p>
                <button>制作中</button> <span class="time">已等待：59秒</span>
            </div>
        </li>
        <li>
            <div class="dishImg">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505212648826&di=8e8561bd9b086ec0cb55631f075c6aa2&imgtype=0&src=http%3A%2F%2Fwww.dtmkjt.com%2Fuploadfile%2F2016%2F0226%2F20160226091126664.jpg" alt="">
                <i></i>
            </div>
            <div class="dishInfo">
                <h1>红烧鱼</h1>
                <p>79元<span>&nbsp;|&nbsp;&nbsp;1份</span></p>
                <button>制作中</button> <span class="time">已等待：59秒</span>
            </div>
        </li>
        <li>
            <div class="dishImg">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505212648826&di=8e8561bd9b086ec0cb55631f075c6aa2&imgtype=0&src=http%3A%2F%2Fwww.dtmkjt.com%2Fuploadfile%2F2016%2F0226%2F20160226091126664.jpg" alt="">
                <i></i>
            </div>
            <div class="dishInfo">
                <h1>红烧鱼</h1>
                <p>79元<span>&nbsp;|&nbsp;&nbsp;1份</span></p>
                <button>制作中</button> <span class="time">已等待：59秒</span>
            </div>
        </li>
    </ul>
</div>

<footer>
    <span>加菜</span>
    <span class="r">订单核对（买单）</span>
</footer>
<!-- 占位框 -->
<!-- <div class="row footer"></div> -->