.add-list{
    width: 100%;
    min-height: 100%;
    background-color: #f6f6f6;
}

.add-item{
    padding:0 0.32rem;
    margin-top:0.133333rem;
    background-color: #ffffff;
}

.add-title{
    padding-top: 0.133333rem;
    font-size: 0.453333rem;
    line-height: 1.2rem;
    color:#333333;
}

.add-icon{

}

.add-address{
    font-size: 0.32rem;
    line-height: 0.453333rem;
    color:#999999;
}