.payChoice {
    padding-top: 1.173333rem;
    box-sizing: border-box;
    background-color: #ffffff;
}

.paylist {
    padding: 0 .266667rem;
    font-size: .453333rem;
    color: #333333;
}

li {
    height: 1.6rem;
    line-height: 1.6rem;
    width: 100%;
    border-bottom: 1px solid #d7d7d7;
    position: relative;
}

li.active i {
    position: absolute;
    top: .533333rem;
    right: 0;
    background: url('/assets/imgs/duihao.png') no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: .48rem;
    height: .48rem;
    line-height: .4rem;
}