<app-header [title]="'权限分配'">
</app-header>
<ul class="limits-list">
  <li class="limits-item">
    <img src="/assets/imgs/item-back.png" alt="" class="limits-item-img">
    <img src="/assets/imgs/quanxianqueding.png" alt="" class="limits-item-check">
    <p class="limits-item-til">员工管理</p>
  </li>
  <li class="limits-item">
    <img src="/assets/imgs/item-back.png" alt="" class="limits-item-img">
    <p class="limits-item-til">营业收入</p>
  </li>
  <li class="limits-item">
    <img src="/assets/imgs/item-back.png" alt="" class="limits-item-img">
    <p class="limits-item-til">实时桌台</p>
  </li>
  <li class="limits-item">
    <img src="/assets/imgs/item-back.png" alt="" class="limits-item-img">
    <p class="limits-item-til">热销菜品</p>
  </li>
  <li class="limits-item">
    <img src="/assets/imgs/item-back.png" alt="" class="limits-item-img">
    <p class="limits-item-til">实时后厨</p>
  </li>
  <li class="limits-item">
    <img src="/assets/imgs/item-back.png" alt="" class="limits-item-img">
    <p class="limits-item-til">合并配菜</p>
  </li>
  <li class="limits-item">
    <img src="/assets/imgs/item-back.png" alt="" class="limits-item-img">
    <p class="limits-item-til">桌台管理</p>
  </li>
  <li class="limits-item">
    <img src="/assets/imgs/item-back.png" alt="" class="limits-item-img">
    <p class="limits-item-til">菜单管理</p>
  </li>
  <li class="limits-item">
    <img src="/assets/imgs/item-back.png" alt="" class="limits-item-img">
    <p class="limits-item-til">打印机管理</p>
  </li>
  <li class="limits-item">
    <img src="/assets/imgs/item-back.png" alt="" class="limits-item-img">
    <p class="limits-item-til">渠道管理</p>
  </li>
  <li class="limits-item">
    <img src="/assets/imgs/item-back.png" alt="" class="limits-item-img">
    <p class="limits-item-til">口味管理</p>
  </li>
</ul>