<div class="orderCheck">
    <app-header [title]="orderInfo.DtNumber+'号桌订单核对'" [right]="''">
    </app-header>

    <div class="dishlist">
        <h1>已点菜品：</h1>
        <ul>
            <li *ngFor="let item of orderInfo.List">
                <span class="left">{{item.ShopMenuName}}</span>
                <span class="center">￥{{item.UnitPrice}}X{{item.MenuNumber}}</span>
                <span class="right">￥{{item.ShopMenuPrice}}</span>
            </li>
        </ul>
        <div class="count">
            <span>总计：</span>
            <span class="r">￥{{orderInfo.Price}}</span>
        </div>
        <!-- 0初始状态1已下单未结账2已结账 -->
        <div class="payState" *ngIf="orderInfo.OrderState==2">
            <img src="/assets/imgs/yijiezhang.png" alt="">
        </div>
    </div>

   <ul class="footer">
       <li [routerLink]="['/tableMgr/dishMenu',orderId]"><i class="jiacai"></i><p>加菜</p></li>
       <li [routerLink]="['/tableMgr/delDish',orderId]"><i class="huacai"></i><p>划菜</p></li>
       <li><i class="xiaopiao"></i><p>小票</p></li>
       <li [routerLink]="['/tableMgr/updateTable',orderId,orderInfo.TableId]"><i class="zhuantai"></i><p>转台</p></li>
       <li [routerLink]="['/tableMgr/pay',orderId,orderInfo.DtNumber]"><i class="maidan"></i><p>买单</p></li>
   </ul>
</div>