<div class="orderCheck">
    <app-header [title]="orderInfo.DtNumber+'号桌订单核对'" [right]="'桌台管理'"  (rightEvent)="rightEvent($event)">
    </app-header>

    <div class="dishlist">
        <h1>已点菜品：</h1>
        <ul>
            <li *ngFor="let item of orderInfo.List">
                <span class="left">{{item.ShopMenuName}}</span>
                <span class="center">￥{{item.UnitPrice}}*{{item.MenuNumber}}</span>
                <span class="right">￥{{item.ShopMenuPrice}}</span>
            </li>
        </ul>
        <div class="count">
            <span>总计：</span>
            <span class="r">￥{{orderInfo.Price}}</span>
        </div>
        <!-- 0初始状态1已下单未结账2已结账 -->
        <div class="payState" *ngIf="orderInfo.OrderState==2">
            <img src="/assets/imgs/yijiezhang.png" alt="">
            <p>{{orderInfoPrice}}</p>
        </div>
    </div>

    <ul class="footer">
        <li [routerLink]="['/tableMgr/dishMenu',orderId]">
            <div>
                <i class="jiacai"></i>
                <p>加菜</p>
            </div>
        </li>
        <li [routerLink]="['/tableMgr/delDish',orderId]">
            <div>
                <i class="huacai"></i>
                <p>退菜</p>
            </div>
        </li>
        <li (click)="print()">
            <div>
                <i class="xiaopiao"></i>
                <p>小票</p>
            </div>
        </li>
        <li [routerLink]="['/tableMgr/updateTable',orderId,orderInfo.TableId]">
            <div>
                <i class="zhuantai"></i>
                <p>转台</p>
            </div>
        </li>
        <li>
            <div>
                <i class="moling"></i>
                <p>抹零</p>
            </div>
        </li>
        <li (click)="pay()">
            <div>
                <i class="maidan"></i>
                <p>买单</p>
            </div>
        </li>
    </ul>
</div>