<div class="index-main">
  <app-header [title]="tableid+'号桌'"></app-header>
  <ul class="left">
    <li [ngClass]="{'active': idx==pageindex}" (click)="pageindex=idx;dishlist=item.List" *ngFor="let item of dishMenu;let idx=index">
      <h1>{{item.Name}}</h1>
      <p>{{item.Count}}</p>
    </li>
  </ul>
  <ul class="right">
    <li *ngFor="let item of dishlist">
      <!-- <img [src]="item.ImgUrl" alt=""> -->
      <h1>{{item.Name}}</h1>
      <div class="row priceD">
        <span class="price">{{item.Price}}</span>
        <div class="numberContain">
          <i class="reduce" (click)="item.Num=item.Num-1;sumPrice=sumPrice-item.Price" *ngIf="item.Num"></i>
          <span class="number" *ngIf="item.Num">{{item.Num}}</span>
          <i class="add" (click)="item.Num=item.Num+1;sumPrice;sumPrice=sumPrice+item.Price"></i>
        </div>
      </div>
    </li>
  </ul>
  <footer>
    <span>￥{{sumPrice}}</span>
    <button (click)="submit()">点完了</button>
  </footer>
</div>