.limitsad-list
{
    padding: 1.173333rem .32rem 0;

    background-color: #fff;
}

.limitsad-item
{
    position: relative;

    margin-bottom: .133333rem;
    padding-bottom: .4rem;

    border-bottom: 1px solid #d7d7d7;
    background-color: #fff;
}

.limitsad-item:last-child{
    border-bottom: 0;
}

.limitsad-title
{
    font-size: .453333rem;
    line-height: .48rem;

    padding: .533333rem 0 .453333rem 0;

    color: #333;
}

.limitsad-address
{
    font-size: .373333rem;
    line-height: .4rem;

    color: #999;
}

.limitsad-ico
{
    position: absolute;
    top: 50%;
    right: 0;

    width: .4rem;
    height: .4rem;

    transform: translate(0,-50%);
}
