<app-header [title]="'权限管理'">
</app-header>
<ul class="limitsad-list">
    <li class="limitsad-item">
        <p class="limitsad-title">服务员</p>
        <p><span class="limitsad-address">桌台管理</span></p>
        <img src="/assets/imgs/huisejiantou.png" alt="" class="limitsad-ico">
    </li>
    <li class="limitsad-item">
        <p class="limitsad-title">服务员</p>
        <p><span class="limitsad-address">桌台管理</span></p>
        <img src="/assets/imgs/huisejiantou.png" alt="" class="limitsad-ico">
    </li>
    <li class="limitsad-item">
        <p class="limitsad-title">服务员</p>
        <p><span class="limitsad-address">桌台管理</span></p>
        <img src="/assets/imgs/huisejiantou.png" alt="" class="limitsad-ico">
    </li>
    <li class="limitsad-item">
        <p class="limitsad-title">服务员</p>
        <p><span class="limitsad-address">桌台管理</span></p>
        <img src="/assets/imgs/huisejiantou.png" alt="" class="limitsad-ico">
    </li>
    <li class="limitsad-item">
        <p class="limitsad-title">服务员</p>
        <p><span class="limitsad-address">桌台管理</span></p>
        <img src="/assets/imgs/huisejiantou.png" alt="" class="limitsad-ico">
    </li>
</ul>