<div class="payRefundMgr">
  <app-header [title]="'退款'"></app-header>
  <div class="content">
    <table>
      <thead>
        <tr>
          <td>桌台</td>
          <td>单价</td>
          <td>下单时间</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>￥30</td>
          <td>2017-09-23 12:54:03</td>
          <td><p>退款</p></td>
        </tr>
        <tr>
            <td>1</td>
            <td>￥30</td>
            <td>2017-09-23 12:54:03</td>
            <td><p>退款</p></td>
          </tr>
          <tr>
              <td>1</td>
              <td>￥30</td>
              <td>2017-09-23 12:54:03</td>
              <td><p>退款</p></td>
            </tr>
      </tbody>
    </table>
  </div>
</div>