<div class="payRefundMgr">
  <app-header [title]="'退款'" [appClose]="true"></app-header>
  <div class="content">
    <table>
      <thead>
        <tr>
          <td>桌台</td>
          <td>单价</td>
          <td>下单时间</td>
          <td>操作</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of payRefundInfo">
          <td>{{item.DtNumber}}</td>
          <td>￥{{item.Price}}</td>
          <td>{{item.CreateTime}}</td>
          <td><p [routerLink]="['/payRefundMgr/delDish',item.Id]">退款</p></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>