<app-header [title]="'提现记录'">
</app-header>
<ul class="withdraw-list">
    <li class="withdraw-item">
        <p class="withdraw-title">微信提现</p>
        <p><span class="withdraw-address">2019-08-16 12：09：22</span></p>
        <span class="withdraw-num">- 80.00</span>
    </li>
    <li class="withdraw-item">
        <p class="withdraw-title">微信提现</p>
        <p><span class="withdraw-address">2019-08-16 12：09：22</span></p>
        <span class="withdraw-num">- 80.00</span>
    </li>
    <li class="withdraw-item">
        <p class="withdraw-title">微信提现</p>
        <p><span class="withdraw-address">2019-08-16 12：09：22</span></p>
        <span class="withdraw-num">- 80.00</span>
    </li>
</ul>