<app-header [title]="'钱包'">
</app-header>
<div class="money">
    <div class="money-head">
        <p class="money-hint">温馨提示：提现后，余额会转到您的微信钱包，秒到账哦.秒到账哦.秒到账哦.秒到账哦.秒到账哦.</p>
    </div>
</div>
<div class="money-num">
    <div class="money-num-text">
        <p class="money-num-til">余额（元）</p>
        <div class="money-num-num"><span>15040.58</span><div class="money-num-btn">提现</div></div>
    </div>
</div>
<ul class="money-list">
    <li class="money-item">
        <p class="money-title">顾客结账方式</p>
        <p><span class="money-address">先吃后结账</span></p>
        <img src="/assets/imgs/huisejiantou.png" alt="" class="money-ico">
    </li>
    <li class="money-item">
        <p class="money-title">服务员、收银台结账方式</p>
        <p><span class="money-address">先吃后结账</span></p>
        <img src="/assets/imgs/huisejiantou.png" alt="" class="money-ico">
    </li>
</ul>
<div class="money-shade">
    <ul class="money-shade-list">
        <li class="money-shade-item">先吃后结账</li>
        <li class="money-shade-item">先结账后吃（适合快餐）</li>
    </ul>
</div>