.money
{
    padding: 1.173333rem 0 0;

    background-color: #fff;
}

.money-head
{
    overflow: hidden;

    height: 1.2rem;
    margin-bottom: .133333rem;
    padding: 0 .32rem 0;

    background-color: #fff;
}

.money-hint
{
    font-size: .373333rem;
    line-height: 1.2rem;

    float: left;

    -webkit-animation: mymove 10s infinite linear;
            animation: mymove 10s infinite linear;
    white-space: nowrap;

    color: #ff7979;
}


@keyframes mymove
{
    0%
    {
        transform: translateX(110%);
    }
    100%
    {
        transform: translateX(-120%);
    }
}

@-webkit-keyframes mymove
{
    0%
    {
        transform: translateX(110%);
    }
    100%
    {
        transform: translateX(-120%);
    }
}


.money-num
{
    margin-bottom: .133333rem;
    padding: 40px .32rem;

    background-color: #fff;
}

.money-num-text
{
    width: 100%;
    height: 3.413333rem;

    background-image: url(/assets/imgs/yue.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.money-num-til
{
    font-size: .533333rem;
    line-height: 1.76rem;

    text-indent: .666667rem;

    color: #a28e72;
}

.money-num-num
{
    font-size: .8rem;
    line-height: .8rem;

    padding: 0 .666667rem 0 .613333rem;

    color: #a28e72;
}

.money-num-btn
{
    font-size: .4rem;
    line-height: .8rem;

    float: right;

    width: 1.946667rem;
    height: .8rem;

    text-align: center;

    color: #a28e72;
    border-radius: .4rem;
    background-color: #fff;
}

.money-list
{
    padding: 0 .32rem 0;

    background-color: #fff;
}


.money-item
{
    position: relative;

    margin-bottom: .133333rem;
    padding-bottom: .4rem;

    border-bottom: 1px solid #d7d7d7;
    background-color: #fff;
}

.money-item:last-child
{
    border-bottom: 0;
}

.money-title
{
    font-size: .453333rem;
    line-height: .48rem;

    padding: .533333rem 0 .453333rem 0;

    color: #333;
}

.money-address
{
    font-size: .32rem;
    line-height: .4rem;

    color: #999;
}

.money-ico
{
    position: absolute;
    top: 50%;
    right: 0;

    width: .4rem;
    height: .4rem;

    transform: translate(0,-50%);
}

.money-shade
{
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(0,0,0,.5);
}

.money-shade.active
{
    display: block;
}

.money-shade-list
{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);
}

.money-shade-item
{
    font-size: .453333rem;
    line-height: 1.333333rem;

    width: 7.333333rem;
    height: 1.333333rem;
    margin-bottom: .746667rem;

    text-align: center;

    color: #ff7979;
    border-radius: .133333rem;
    background-color: #fff;
}
