<div class="index-main">
  <app-header [title]="tableId+'号桌'"></app-header>
  <ul class="left">
    <li [ngClass]="{'active': idx==pageindex}" (click)="pageindex=idx;" *ngFor="let item of dishMenu;let idx=index">
      <h1>{{item.Name}}</h1>
      <p *ngIf="item.Count">{{item.Count}}</p>
    </li>
  </ul>
  <ul class="right">
    <li *ngFor="let item of dishMenu[pageindex].List">
      <img [src]="item.ImgUrl" alt="">
      <h1>{{item.Name}}</h1>
      <div class="row priceD">
        <span class="price">{{item.Price}}</span>
        <div *ngIf="item.IsUp==0" class="numberContain">
          <i class="reduce" (click)="updateNumber(item,-1)" *ngIf="item.Num"></i>
          <span class="number" *ngIf="item.Num">{{item.Num}}</span>
          <i class="add" (click)="updateNumber(item,1)"></i>
        </div>
        <div *ngIf="item.IsUp==1" class="numberContain" style="color:red;">已卖光</div>
      </div>
    </li>
  </ul>
  <footer>
    <span>￥{{sumPrice.toFixed(2)}}</span>
    <button (click)="submit()">点完了</button>
  </footer>
</div>