<div class="index-main">
  <app-header [title]="tableId+'号桌'"></app-header>
  <ul class="left">
    <li [ngClass]="{'active': idx==pageindex}" (click)="categoryChoice(idx)" *ngFor="let item of dishMenu;let idx=index">
      <h1>{{item.Name}}</h1>
      <p *ngIf="item.Count">{{item.Count}}</p>
    </li>
  </ul>
  <ul class="right">
    <li *ngFor="let item of dishMenuList">
      <img *ngIf="item.ImgUrl" [src]="item.ImgUrl" alt="">
      <h1>{{item.Name}}</h1>
      <div class="row priceD">
        <span class="price">￥{{item.Price}}/{{item.UnitName}}</span>
        <div *ngIf="item.IsUp==0" class="numberContain">
          <i class="reduce" (click)="updateNumber(item,-1)" *ngIf="item.Num"></i>
          <span class="number" *ngIf="item.Num">{{item.Num}}</span>
          <i class="add" (click)="updateNumber(item,1)"></i>
        </div>
        <div *ngIf="item.IsUp==1" class="numberContain" style="color:red;">已卖光</div>
      </div>
    </li>
  </ul>
  <div class="mask" *ngIf="maskState" (click)="maskClick()"></div>
  <!-- 购物车 footer -->
  <footer *ngIf="!choiceTaboosState">
    <ul *ngIf="shoppingState">
      <li>
        <span>已点菜品（{{sumDishCount}}）</span>
        <button (click)="clearShopping();">清空</button>
      </li>
      <li *ngFor="let item of shoppingList" [hidden]="item.Num==0">
        <div class="gwcDish">
          <span class="dish-name">{{item.Name}}
            <span [hidden]="!item.checkName">({{item.checkName}})</span>
          </span>
          <span class="dish-price">￥{{item.Price}}/{{item.UnitName}}</span>
        </div>
        <div class="numberContain">
          <i class="reduce" (click)="updateNumber(item,-1)" *ngIf="item.Num"></i>
          <span class="number" *ngIf="item.Num">{{item.Num}}</span>
          <i class="add" (click)="updateNumber(item,1)"></i>
        </div>
      </li>
    </ul>
    <div class="footer">
      <div class="footer-left" (click)="shoppingClick()">
        <i></i>
        <span [hidden]="sumDishCount==0">{{sumDishCount}}</span>
      </div>
      <div class="footer-right">
        <span>￥{{sumPrice.toFixed(2)}}</span>
        <button (click)="submit()">点完了</button>
      </div>
    </div>
  </footer>
  <!-- 选择口味 footer -->
  <footer class="taboos" *ngIf="choiceTaboosState">
    <h1>菜品口味</h1>
    <div class="dishInfo">
      <div class="gwcDish">
        <span class="dish-name">{{itemdish.Name}}</span>
        <span class="dish-price">￥{{itemdish.Price}}/{{itemdish.UnitName}}</span>
      </div>
      <div class="numberContain">
          <i class="reduce" (click)="itemdish.Num=itemdish.Num-1;" *ngIf="itemdish.Num"></i>
          <span class="number" *ngIf="itemdish.Num">{{itemdish.Num}}</span>
          <i class="add" (click)="itemdish.Num=itemdish.Num+1;"></i>
      </div>
    </div>
    <h2>口味</h2>
    <ul class="lable">
      <li [ngClass]="{'active': checkActive(lable,itemdish,idx)}" (click)="choiceDishtaboos(itemdish,idx)" *ngFor="let lable of itemdish.FNames.split(',');let idx=index;">{{lable}}</li>
    </ul>
    <div class="action">
      <button class="cancel" (click)="maskClick()">取消</button>
      <button (click)="taboosOk()">确定</button>
    </div>
  </footer>