<app-header [title]="'总店'">
</app-header>
<ul class="console-list">
  <li class="console-item">
    <img src="/assets/imgs/quanxianguanli.png" alt="" class="console-item-img">
    <p class="console-item-til">权限管理</p>
  </li>
  <li class="console-item">
    <img src="/assets/imgs/yuangongguanli.png" alt="" class="console-item-img">
    <p class="console-item-til">员工管理</p>
  </li>
  <li class="console-item">
    <img src="/assets/imgs/yingyeshouru.png" alt="" class="console-item-img">
    <p class="console-item-til">营业收入</p>
  </li>
  <li class="console-item">
    <img src="/assets/imgs/shishizhuotai.png" alt="" class="console-item-img">
    <p class="console-item-til">实时卓台</p>
  </li>
  <li class="console-item">
    <img src="/assets/imgs/rexiaocaipin.png" alt="" class="console-item-img">
    <p class="console-item-til">热销菜品</p>
  </li>
  <li class="console-item">
    <img src="/assets/imgs/shishihouchu.png" alt="" class="console-item-img">
    <p class="console-item-til">实时后厨</p>
  </li>
  <li class="console-item">
    <img src="/assets/imgs/qianbao.png" alt="" class="console-item-img">
    <p class="console-item-til">钱包</p>
  </li>
  <li class="console-item">
    <img src="/assets/imgs/wodemokuai.png" alt="" class="console-item-img">
    <p class="console-item-til">我的模块</p>
  </li>
</ul>