.console-list
{
    box-sizing: border-box;
    height: 100%;
    padding: 1.84rem 0 0 .32rem;

    background-color: #fff;
}

.console-item
{
    position: relative;

    float: left;

    width: 2.933333rem;
    height: 2.933333rem;
    margin-right: .293333rem;
    margin-bottom: .266667rem;
}

.console-item-til
{
    font-size: .4rem;

    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 1.866667rem;

    text-align: center;

    color: #564a38;
}

.console-item-img
{
    display: block;

    width: 100%;
    height: 100%;
}
