<!-- <app-payCode></app-payCode> -->
<!-- <app-payChoice></app-payChoice> -->
<app-orderCheck></app-orderCheck>
<!-- <app-dishProgress></app-dishProgress> -->
<!-- <app-taboos></app-taboos> -->
<!-- <app-orderInfo></app-orderInfo> -->
<!-- <app-index></app-index> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-address></app-address> -->
<!-- <app-console></app-console> -->
<!-- <app-limits></app-limits> -->
<!-- <app-mymodule></app-mymodule> -->
<!-- <app-limitsadmin></app-limitsadmin> -->
<!-- <app-money></app-money> -->
<!-- <app-withdraw></app-withdraw> -->