<div class="orderCheck">
    <app-header [title]="orderInfo.DtNumber+'号桌订单核对'" [right]="''">
    </app-header>

    <div class="dishlist">
        <h1>已点菜品：</h1>
        <ul>
            <li *ngFor="let item of orderInfo.List" [ngClass]="{'nothing': item.IsDelete==2}">
                <span class="left">{{item.ShopMenuName}}</span>
                <span class="center">￥{{item.UnitPrice}}*{{item.MenuNumber}}</span>
                <span *ngIf="item.IsDelete!=2" class="right">￥{{item.ShopMenuPrice}}</span>
                <span *ngIf="item.IsDelete==2" class="right nothing">已卖光</span>
            </li>
        </ul>
        <div class="count">
            <span>总计：</span>
            <span class="r">￥{{orderInfo.Price}}</span>
        </div>
        <!-- 0初始状态1已下单未结账2已结账 -->
        <div class="payState" *ngIf="orderInfo.OrderState==2">
            <img src="/assets/imgs/yijiezhang.png" alt="">
        </div>
    </div>

    <div class="code" *ngIf="taPay">
        <app-qrcode [orderid]="orderId" [payType]="payType"></app-qrcode>
    </div>

    <div [hidden]="orderInfo.OrderState==2">
        <footer>
            <span (click)="taPay=true">TA买单</span>
            <span class="r" (click)="pay()">我买单</span>
        </footer>
    </div>
</div>