<div class="orderCheck">
    <app-header [title]="'已下单的菜品'" [right]="''">
    </app-header>

    <div class="dishlist">
        <!-- 0初始状态1已下单未结账2已结账 -->
        <img class="payState" *ngIf="orderInfo.OrderState==2" src="/assets/imgs/yijiezhang.png" alt="">
        <h1>桌号：{{orderInfo.DtNumber}} 人数：缺字段 下单时间：缺字段</h1>
        <hr>
        <ul>
            <li *ngFor="let item of orderInfo.List" [ngClass]="{'nothing': item.IsDelete==2}">
                <span class="left">{{item.ShopMenuName}}</span>
                <span class="center">￥{{item.UnitPrice}}*{{item.MenuNumber}}</span>
                <span *ngIf="item.IsDelete!=2" class="right">￥{{item.ShopMenuPrice}}</span>
                <span *ngIf="item.IsDelete==2" class="right nothing">已卖光</span>
            </li>
        </ul>
        <div class="count">
            <span>总计：</span>
            <span class="r">￥{{orderInfo.Price}}</span>
        </div>
        <div class="count">
            <span>抹零：</span>
            <span class="r">-￥{{orderInfo.ReducePrice}}</span>
        </div>
        <div class="count">
            <span>实收：</span>
            <span class="r">￥{{orderInfo.Price}}</span>
        </div>
    </div>

    <div class="code" *ngIf="taPay">
        <app-qrcode [orderid]="orderId" [payType]="payType"></app-qrcode>
    </div>

    <!-- <div [hidden]="orderInfo.OrderState==2">
        <footer>
            <span (click)="taPay=true">TA买单</span>
            <span class="r" (click)="pay()">我买单</span>
        </footer>
    </div> -->
</div>