<div class="wallet">
  <app-header [title]="'钱包'">
  </app-header>
  <div class="row content">
    <div class="balance row">
      <img class="row" src="assets/imgs/qianbaobeijing.png" alt="">
      <h1>余额：（元）</h1>
      <p>{{walletMoney.Moneys}}</p>
    </div>
    <ul>
      <li [routerLink]="['recharge']">充值
        <i></i>
      </li>
      <li [routerLink]="['bill']">账单
        <i></i>
      </li>
      <li [routerLink]="['withdraw']">提现银行卡
        <i></i>
      </li>
    </ul>
  </div>
</div>