<app-header [title]="'08号桌订单确认'" [right]="'刷新'">
</app-header>
<ul>
    <li><input class="style" type="text" name="" id="" placeholder="口味、忌口等其他要求（选填）"></li>
    <li><input class="style none" type="number" name="" id="" placeholder="用餐人数"></li>
</ul>
<ul class="dishInfo">
    <li>
        <div class="row categoryhr"></div>
        <h1>热菜</h1>
        <div class="row dish">
            <div class="userinfo">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505109438599&di=a1b147f83aeeac144ab530411d67c147&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201602%2F14%2F20160214202926_Kfixa.thumb.224_0.jpeg" alt="">
                <br>
                <span>阿达</span>
            </div>
            <div class="dish-details">
                <p>宫保鸡丁</p>
                <br>
                <span class="price">170￥</span>
            </div>
            <div class="numberContain" style="line-height: 1.6rem;">
                <i class="add"></i>
                <span class="number">2</span>
                <i class="reduce"></i>
            </div>
        </div>
        <div class="row dish">
            <div class="userinfo">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505109438599&di=a1b147f83aeeac144ab530411d67c147&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201602%2F14%2F20160214202926_Kfixa.thumb.224_0.jpeg" alt="">
                <br>
                <span>阿达</span>
            </div>
            <div class="dish-details">
                <p>宫保鸡丁</p>
                <br>
                <span class="price">170￥</span>
            </div>
            <div class="numberContain" style="line-height: 1.6rem;">
                <i class="add"></i>
                <span class="number">2</span>
                <i class="reduce"></i>
            </div>
        </div>
    </li>
    <li>
        <div class="row categoryhr"></div>
        <h1>热菜</h1>
        <div class="row dish">
            <div class="userinfo">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505109438599&di=a1b147f83aeeac144ab530411d67c147&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201602%2F14%2F20160214202926_Kfixa.thumb.224_0.jpeg" alt="">
                <br>
                <span>阿达</span>
            </div>
            <div class="dish-details">
                <p>宫保鸡丁</p>
                <br>
                <span class="price">170￥</span>
            </div>
            <div class="numberContain" style="line-height: 1.6rem;">
                <i class="add"></i>
                <span class="number">2</span>
                <i class="reduce"></i>
            </div>
        </div>
        <div class="row dish">
            <div class="userinfo">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505109438599&di=a1b147f83aeeac144ab530411d67c147&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201602%2F14%2F20160214202926_Kfixa.thumb.224_0.jpeg" alt="">
                <br>
                <span>阿达</span>
            </div>
            <div class="dish-details">
                <p>宫保鸡丁</p>
                <br>
                <span class="price">170￥</span>
            </div>
            <div class="numberContain" style="line-height: 1.6rem;">
                <i class="add"></i>
                <span class="number">2</span>
                <i class="reduce"></i>
            </div>
        </div>
    </li>
    <li>
        <div class="row categoryhr"></div>
        <h1>凉菜</h1>
        <div class="row dish">
            <div class="userinfo">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505109438599&di=a1b147f83aeeac144ab530411d67c147&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201602%2F14%2F20160214202926_Kfixa.thumb.224_0.jpeg" alt="">
                <br>
                <span>阿达</span>
            </div>
            <div class="dish-details">
                <p>宫保鸡丁</p>
                <br>
                <span class="price">170￥</span>
            </div>
            <div class="numberContain" style="line-height: 1.6rem;">
                <i class="add"></i>
                <span class="number">2</span>
                <i class="reduce"></i>
            </div>
        </div>
        <div class="row dish">
            <div class="userinfo">
                <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1505109438599&di=a1b147f83aeeac144ab530411d67c147&imgtype=0&src=http%3A%2F%2Fimg4.duitang.com%2Fuploads%2Fitem%2F201602%2F14%2F20160214202926_Kfixa.thumb.224_0.jpeg" alt="">
                <br>
                <span>阿达</span>
            </div>
            <div class="dish-details">
                <p>宫保鸡丁</p>
                <br>
                <span class="price">170￥</span>
            </div>
            <div class="numberContain" style="line-height: 1.6rem;">
                <i class="add"></i>
                <span class="number">2</span>
                <i class="reduce"></i>
            </div>
        </div>
    </li>
</ul>
<footer>
    <span>合计：￥78</span>
    <span class="r">确认下单</span>
</footer>
<!-- 占位框 -->
<div class="row footer"></div>