<app-header [title]="'08号桌'" [right]="'菜品进度'"></app-header>
<div class="index-main">
    <div class="row notify">正在和你一块……</div>
    <ul class="left">
        <div class="line"></div>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li class="active">
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
    </ul>
    <ul class="right">
        <h3>新菜品</h3>
        <li>
            <img src="http://www.atool.org/placeholder.png?size=300x150&bg=9BCE3B&fg=fff" alt="">
            <h1>锅包肉</h1>
            <div class="row">
                <span class="price">88元</span>
                <div class="numberContain">
                    <i class="add"></i>
                    <span class="number">2</span>
                    <i class="reduce"></i>
                </div>
            </div>
        </li>
        <li>
            <img src="http://www.atool.org/placeholder.png?size=300x150&bg=9BCE3B&fg=fff" alt="">
            <h1>锅包肉</h1>
            <div class="row">
                <span class="price">88元</span>
                <div class="numberContain">
                    <i class="add"></i>
                    <span class="number">2</span>
                    <i class="reduce"></i>
                </div>
            </div>
        </li>
        <li>
            <img src="http://www.atool.org/placeholder.png?size=300x150&bg=9BCE3B&fg=fff" alt="">
            <h1>锅包肉</h1>
            <div class="row">
                <span class="price">88元</span>
                <div class="numberContain">
                    <i class="add"></i>
                    <span class="number">2</span>
                    <i class="reduce"></i>
                </div>
            </div>
        </li>
        <li>
            <img src="http://www.atool.org/placeholder.png?size=300x150&bg=9BCE3B&fg=fff" alt="">
            <h1>锅包肉</h1>
            <div class="row">
                <span class="price">88元</span>
                <div class="numberContain">
                    <i class="add"></i>
                    <span class="number">2</span>
                    <i class="reduce"></i>
                </div>
            </div>
        </li>
        <li>
            <img src="http://www.atool.org/placeholder.png?size=300x150&bg=9BCE3B&fg=fff" alt="">
            <h1>锅包肉</h1>
            <div class="row">
                <span class="price">88元</span>
                <div class="numberContain">
                    <i class="add"></i>
                    <span class="number">2</span>
                    <i class="reduce"></i>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- <div class="row">
    <ul class="left">
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li class="active">
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
        <li>
            <h1>招牌菜</h1>
            <p>5</p>
        </li>
    </ul>
    <ul class="right">
        <li>
            <img src="http://www.atool.org/placeholder.png?size=300x150&bg=9BCE3B&fg=fff" alt="">
            <h1>锅包肉</h1>
            <div class="row">
                <span class="price">88元</span>
                <div class="numberContain">
                    <i class="add"></i>
                    <span class="number">2</span>
                    <i class="reduce"></i>
                </div>
            </div>
        </li>
        <li>
            <img src="http://www.atool.org/placeholder.png?size=300x150&bg=9BCE3B&fg=fff" alt="">
            <h1>锅包肉</h1>
            <div class="row">
                <span class="price">88元</span>
                <div class="numberContain">
                    <i class="add"></i>
                    <span class="number">2</span>
                    <i class="reduce"></i>
                </div>
            </div>
        </li>
        <li>
            <img src="http://www.atool.org/placeholder.png?size=300x150&bg=9BCE3B&fg=fff" alt="">
            <h1>锅包肉</h1>
            <div class="row">
                <span class="price">88元</span>
                <div class="numberContain">
                    <i class="add"></i>
                    <span class="number">2</span>
                    <i class="reduce"></i>
                </div>
            </div>
        </li>
        <li>
            <img src="http://www.atool.org/placeholder.png?size=300x150&bg=9BCE3B&fg=fff" alt="">
            <h1>锅包肉</h1>
            <div class="row">
                <span class="price">88元</span>
                <div class="numberContain">
                    <i class="add"></i>
                    <span class="number">2</span>
                    <i class="reduce"></i>
                </div>
            </div>
        </li>
        <li>
            <img src="http://www.atool.org/placeholder.png?size=300x150&bg=9BCE3B&fg=fff" alt="">
            <h1>锅包肉</h1>
            <div class="row">
                <span class="price">88元</span>
                <div class="numberContain">
                    <i class="add"></i>
                    <span class="number">2</span>
                    <i class="reduce"></i>
                </div>
            </div>
        </li>
    </ul>
</div> -->
<!-- 占位框 -->
<!-- <div class="row footer"></div> -->
<footer>
    <span>￥78</span>
    <button>点完了</button>
</footer>