<div class="orderCheck">
    <app-header [title]="'08号桌订单核对'" [right]="'完成'">
    </app-header>

    <div class="dishlist">
        <h1>已点菜品：</h1>
        <ul>
            <li>
                <span class="left">宫保鸡丁</span>
                <span class="center">￥24X3</span>
                <span class="right">￥24</span>
            </li>
            <li>
                <span class="left">宫保鸡丁</span>
                <span class="center">￥24X3</span>
                <span class="right">￥24</span>
            </li>
            <li>
                <span class="left">宫保鸡丁</span>
                <span class="center">￥24X3</span>
                <span class="right">￥24</span>
            </li>
            <li>
                <span class="left">宫保鸡丁</span>
                <span class="center">￥24X3</span>
                <span class="right">￥24</span>
            </li>
        </ul>
        <div class="count">
            <span>总计：</span>
            <span class="r">￥688</span>
        </div>
        <div class="payState">
            <img src="/assets/imgs/yijiezhang.png" alt="">
        </div>
    </div>

    <footer>
        <span>TA买单</span>
        <span class="r">我买单</span>
    </footer>
</div>