<div class="bill">
  <app-header [title]="'账单'">
  </app-header>
  <div class="row content">
    <ul>
      <li>2017年10月17日 收入 ： 5411.51元</li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
      <li>
        <div class="row row-h">
          <span class="orderNum">订单编号：CT123444</span>
          <span class="orderTime">2017-10-17 16:33:39</span>
        </div>
        <div class="row row-h">
          <span class="money">+551.92元</span>
          <span class="details">详情</span>
        </div>
      </li>
    </ul>
  </div>
</div>