.bill{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding:1.173333rem 0 0 0;
    overflow-x:hidden;
    overflow-y:auto;
}
.content{
    box-sizing: border-box; 
    height: 100%;
    padding: 0 .266667rem;
    background: #ffffff;
}
ul{
    margin-top: .133333rem;
}

.dateChoice input{
    border:0;
    color: #666666;
}
.dateChoice button{
    font-size: .373333rem;
    color: #ffffff;
    background: #ff7979;
    border: 0;
    border-radius: .266667rem;
    padding: 0 .24rem;
    box-sizing: border-box;
}


li{
    height: 1.866667rem;
    border-bottom: 1px solid #eeeeff;
}

li label{
    color: #999999;
    float: right;
    box-sizing: border-box;
    position: relative;
    width: 1.666667rem;
    text-align: right;
}
li label i{
    background: url('/assets/imgs/shuoming.png') no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    width: .5rem;
    height: .5rem;
    line-height: 1.866667rem;
    margin-right: .253333rem;
    position: absolute;
    left: 0;
    top: .67rem; 
}

li .row-h{
    height: .933333rem;
    line-height: .933333rem;
    display: flex;
}
li .row-h span {
    flex: 1;
}
li .row-h span.orderNum{
    flex: 2;
    color: #333333;
    font-size: .48rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
li .row-h span.orderTime{
    font-size: .32rem;
    color: #999999;
    text-align: right;
}
li .row-h span.money{
    font-size: .56rem;
    color: #ff7979;
}
li .row-h span.details{
    font-size: .4rem;
    color: #333333;
    text-align: right;
}
li:first-child{
    height: 1.866667rem;
    line-height: 1.866667rem;
    font-size: .426667rem;
    color: #ff7979;
}