.payCode {
    padding-top: 1.173333rem;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 100%;
}

.payCodeImg {
    position: relative;
    width: 3.6rem;
    height: 4.933333rem;
    margin: 0 auto;
    top: 3.253333rem;
}

.payCodeImg img {
    width: 4rem;
    height: 4rem;
}

.payCodeImg p {
    margin-top: 1.12rem;
    font-size: .453333rem;
    font-weight: bold;
    text-align: center;
}

.payCodeImg .qrcode {
    width: 3.333333rem;
    height: 3.333333rem;
    position: absolute;
    top: .29rem;
    left: .29rem;
}